.g-btn {
 width: 160px;
 height: 44px;
 border: 1px solid var(--btn-color);
 background-color: transparent;
 display: flex;
 justify-content: center;
 align-items: center;
 color: var(--btn-color);
 font-weight: 700;
 font-size: 1.4rem;
 line-height: 44px;
 letter-spacing: 0.5px;
 border-radius: 0.5rem;
}

.g-btn:hover {

 background-color: var(--btn-color); 
 color: white;
 font-weight: 700;
 font-size: 1.4rem;
 line-height: 44px;
 letter-spacing: 0.5px;
 border-radius: 0.5rem;
}